# En dev se usa '/api' porque Vite hace proxy al backend.
# URL base para las peticiones al Backend.
# Al estar en desarrollo y usar el Proxy de Vite en vite.config.js, 
# usar '/api' es suficiente para evitar errores de CORS.

VITE_API_URL=/api

# (Opcional: Si en producción el frontend y el backend están en 
# servidores completamente distintos sin proxy, se pondría la URL completa):
# VITE_API_URL=https://api.tu-juego.com/api