[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = .
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
new_certs_dir     = $dir/newcerts
certificate       = $dir/intermediate.crt
private_key       = $dir/private/intermediate.key
RANDFILE          = $dir/private/.rand
default_days      = 1825
default_crl_days  = 30
default_md        = sha256
policy            = policy_loose

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied

[ req ]
distinguished_name = req_distinguished_name
string_mask        = utf8only
prompt             = no

[ req_distinguished_name ]
countryName             = AR
stateOrProvinceName     = Buenos Aires
localityName            = La Plata
organizationName        = Mi CA Intermedia
organizationalUnitName  = Informatica
commonName              = CA Intermedia - Curso Tecnico

[ crl_ext ]
authorityKeyIdentifier = keyid:always

[ v3_intermediate_ca ]
basicConstraints       = critical, CA:TRUE, pathlen:0
keyUsage               = critical, keyCertSign, cRLSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer

[ v3_end_user ]
basicConstraints       = CA:FALSE
keyUsage               = critical, digitalSignature, keyEncipherment
extendedKeyUsage       = emailProtection, clientAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
