# ---- Base de datos ----
DB_HOST=localhost
DB_PORT=5432
DB_NAME=proyectodb
DB_USER=postgres
DB_PASSWORD=postgres

# ---- JWT ----
JWT_KEY=CambiaEstaPorUnaClaveSecreta
JWT_ISSUER=DanmakrewAPI
JWT_AUDIENCE=DanmakrewUsers

# ---- Servidor ----
PORT=8080
